:root {
   box-sizing: border-box;
}

*, *:after, *:before {
   box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

#render-area {
  position: relative;
  width: 80dvw;
  height: 80dvh;
  top: 10dvw;
  left: 10dvh;
  transform: scale(0.9) rotate(45deg);
  border: 2px dashed blue;
  overflow: auto;
}

#dashboard {
  position: relative;
  background-color: #111;
  width: calc(80dvw - 5px);
}

#clock {
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  font-size: 4rem;
  font-family: monospace;
}

